<html>

<head>
<title>Sensor readings</title>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
<link rel="stylesheet" href="/static/style.css" />
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</head>

<body>

<h1>Sensor readings</h1>
<div class="container">


<div id="table" class="tab-pane fade in active">

    <table>
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
        </thead>
        <tbody>
        {% for attribute, value in data %}
            <tr>
                <td>{{attribute}}</td>
                <td>{{value}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

</div>

</body>

</html>
