{% extends 'base.html' %}

{% block head %}
    <title>Sensor Readings</title>
{% endblock %}


{% block content %}

  <h1>Sensor readings</h1>
  
  
  
	<p> Temperature: {{ temp  }} *C</p>
	<p> Relative Humidity: {{ hum  }} %</p>
    <p>Pressure: {{ pres  }} hPa</p>
    <p>Ambient light: {{ light  }} Lux</p>
    <p>Oxidised: {{ oxid  }} kO</p>
    <p> Reduced: {{ red  }} kO</p>
    <p> nh3: {{ nh3  }} kO</p>
    <p> PM1.0: {{ pm1  }} ug/m3</p>
    <p> PM2.5: {{ pm25  }} ug/m3</p>
    <p> PM 10: {{ pm10  }} ug/m3</p>
    
    <hr>
	<p> Last Sensors Reading Time: {{ time }} <a type="button" class="btn btn-success" href="/">Refresh</a></p>
    
    <hr>
    
    

  {% endblock %}
